@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.carousel-item {
    height: 480px;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
}

.head-right-container {
    font-size: 25px;
    text-align: center;
    color: #5b422e;
}

.img-top-right {
    height: 150px;
    border-style: solid;
    border-radius: 10px;
    border-color: #5b422e;
    margin: 27px;
}

.img-name-top-right {
    font-size: 22px;
    text-align: center;
}

.gallery {
    font-size: 30px;
}

.img-slide {
    border-style: solid;
    border-radius: 15px;
    border-width: 0px;
    object-fit: cover;
}

.carousal-item img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-style: solid;
    border-radius: 15px;
}

.bg-bottom-home-container {
    background-color: #5b422b;
    background-size: cover;
    color: white;
}

.bottom-link {
    color: #f9f2cb;
    margin: 15px;
}

.bottom-head {
    font-size: 20px;
    color: #f9f2cb;
}

.head-top-section2 {
    color: #5b422e;
    text-align: center;
}

.img-polo {
    height: 180px;
    width: 150px;
    border-style: solid;
    border-radius: 10px;
    border-width: 0px;
}

.polo-images-alignment {
    margin: 100px;
    border-style: solid;
    border-color: #5b422e;
    border-width: 1px;
    border-radius: 10px;
}

.img-category {
    margin-left: 110px;
}

.shirt-names {
    font-size: 20px;
}

.copyright-sentence {
    color: #000000;
    font-size: 20px;
    margin: 5px
}

.copyright-bar {
    background-color: #f9f2cb;
    background-size: cover;
    text-align: center;
}

.navbar-text {
    color: red;
}

.navbar-img {
    height: 100px;
}

.nav-color {
    background-color: #f9f2cb;
    background-size: cover;
}

.nav-options {
    color: #5b422e;
    font-size: 20px;
    cursor: pointer;
}





/* --- IMAGE GALLERY --- */
.gallery-wrapper {
    display: flex;
    gap: 20px;
}

.main-image {
    width: 380px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}

.thumbs {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.thumbs img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid transparent;
    object-fit: cover;
}

input[type=radio] {
    display: none;
}

#img1:checked~.gallery-content #main1,
#img2:checked~.gallery-content #main2,
#img3:checked~.gallery-content #main3,
#img4:checked~.gallery-content #main4 {
    display: block;
}

.main-image-box img {
    display: none;
}

/* --- ACTIVE THUMBNAIL BORDER --- */
#img1:checked~.thumbs-wrapper label[for=img1] img,
#img2:checked~.thumbs-wrapper label[for=img2] img,
#img3:checked~.thumbs-wrapper label[for=img3] img,
#img4:checked~.thumbs-wrapper label[for=img4] img {
    border-color: black;
}

/* --- COLOR SELECTION --- */
.color-select input {
    display: none;
}

.color-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid #bbb;
}

#c1:checked+label .color-circle {
    border: 3px solid black;
}

#c2:checked+label .color-circle {
    border: 3px solid black;
}

/* --- SIZE BUTTONS --- */
.size-select input {
    display: none;
}

.size-label {
    border: 1px solid black;
    padding: 7px 14px;
    border-radius: 8px;
    margin-right: 6px;
    cursor: pointer;
}

.size-select input:checked+label {
    background: #5b422e;
    color: white;
}

/* --- TABS --- */
.tabs input {
    display: none;
}

.tab-label {
    margin-right: 30px;
    font-size: 20px;
    cursor: pointer;
    padding-bottom: 5px;
}

.tabs input:checked+label {
    border-bottom: 3px solid black;
}

.tab-content {
    display: none;
    margin-top: 20px;
}

.btn-style {
    background-color: #5b422e;
    color: #fff;
    border-radius: 4px;
    background-size: cover;
    border-width: 1px;
}

.btn-color-change {
    border-color: #000000;
    border-width: 1px;
    border-radius: 4px;
}

.btn-color-change:hover {
    background-color: #5b422e;
    color: #fff;
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3 {
    display: block;
}

/* Show correct main image when radio is checked */
#img1:checked~.gallery-wrapper .main-image-box #main1 {
    display: block;
}

#img2:checked~.gallery-wrapper .main-image-box #main2 {
    display: block;
}

#img3:checked~.gallery-wrapper .main-image-box #main3 {
    display: block;
}

#img4:checked~.gallery-wrapper .main-image-box #main4 {
    display: block;
}





#img1-2:checked~.gallery-wrapper .main-image-box #main1-2 {
    display: block;
}

#img2-2:checked~.gallery-wrapper .main-image-box #main2-2 {
    display: block;
}

#c1-2:checked+label .color-circle {
    border: 3px solid black;
}

#c2-2:checked+label .color-circle {
    border: 3px solid black;
}

#tab1-2:checked~#content1-2,
#tab2-2:checked~#content2-2,
#tab3-2:checked~#content3-2 {
    display: block;
}


#img1-3:checked~.gallery-wrapper .main-image-box #main1-3 {
    display: block;
}

#img2-3:checked~.gallery-wrapper .main-image-box #main2-3 {
    display: block;
}

#c1-3:checked+label .color-circle {
    border: 3px solid black;
}

#c2-3:checked+label .color-circle {
    border: 3px solid black;
}

#tab1-3:checked~#content1-3,
#tab2-3:checked~#content2-3,
#tab3-3:checked~#content3-3 {
    display: block;
}


#img1-4:checked~.gallery-wrapper .main-image-box #main1-4 {
    display: block;
}

#img2-4:checked~.gallery-wrapper .main-image-box #main2-4 {
    display: block;
}

#c1-4:checked+label .color-circle {
    border: 3px solid black;
}

#c2-4:checked+label .color-circle {
    border: 3px solid black;
}

#tab1-4:checked~#content1-4,
#tab2-4:checked~#content2-4,
#tab3-4:checked~#content3-4 {
    display: block;
}



#img1-5:checked~.gallery-wrapper .main-image-box #main1-5 {
    display: block;
}

#img2-5:checked~.gallery-wrapper .main-image-box #main2-5 {
    display: block;
}

#img3-5:checked~.gallery-wrapper .main-image-box #main3-5 {
    display: block;
}

#img4-5:checked~.gallery-wrapper .main-image-box #main4-5 {
    display: block;
}

#img5-5:checked~.gallery-wrapper .main-image-box #main5-5 {
    display: block;
}

#c1-5:checked+label .color-circle {
    border: 3px solid black;
}

#c2-5:checked+label .color-circle {
    border: 3px solid black;
}

#tab1-5:checked~#content1-5,
#tab2-5:checked~#content2-5,
#tab3-5:checked~#content3-5 {
    display: block;
}



#img1-6:checked~.gallery-wrapper .main-image-box #main1-6 {
    display: block;
}

#img2-6:checked~.gallery-wrapper .main-image-box #main2-6 {
    display: block;
}

#img3-6:checked~.gallery-wrapper .main-image-box #main3-6 {
    display: block;
}

#img4-6:checked~.gallery-wrapper .main-image-box #main4-6 {
    display: block;
}

#c1-6:checked+label .color-circle {
    border: 3px solid black;
}

#c2-6:checked+label .color-circle {
    border: 3px solid black;
}

#tab1-6:checked~#content1-6,
#tab2-6:checked~#content2-6,
#tab3-6:checked~#content3-6 {
    display: block;
}




#img1-7:checked~.gallery-wrapper .main-image-box #main1-7 {
    display: block;
}

#img2-7:checked~.gallery-wrapper .main-image-box #main2-7 {
    display: block;
}

#img3-7:checked~.gallery-wrapper .main-image-box #main3-7 {
    display: block;
}

#img4-7:checked~.gallery-wrapper .main-image-box #main4-7 {
    display: block;
}

#img5-7:checked~.gallery-wrapper .main-image-box #main5-7 {
    display: block;
}

#c1-7:checked+label .color-circle {
    border: 3px solid black;
}

#c2-7:checked+label .color-circle {
    border: 3px solid black;
}

#tab1-7:checked~#content1-7,
#tab2-7:checked~#content2-7,
#tab3-7:checked~#content3-7 {
    display: block;
}



#img1-8:checked~.gallery-wrapper .main-image-box #main1-8 {
    display: block;
}

#img2-8:checked~.gallery-wrapper .main-image-box #main2-8 {
    display: block;
}

#img3-8:checked~.gallery-wrapper .main-image-box #main3-8 {
    display: block;
}

#img4-8:checked~.gallery-wrapper .main-image-box #main4-8 {
    display: block;
}

#img5-8:checked~.gallery-wrapper .main-image-box #main5-8 {
    display: block;
}

#c1-8:checked+label .color-circle {
    border: 3px solid black;
}

#c2-8:checked+label .color-circle {
    border: 3px solid black;
}

#tab1-8:checked~#content1-8,
#tab2-8:checked~#content2-8,
#tab3-8:checked~#content3-8 {
    display: block;
}



#img1-9:checked~.gallery-wrapper .main-image-box #main1-9 {
    display: block;
}

#img2-9:checked~.gallery-wrapper .main-image-box #main2-9 {
    display: block;
}

#img3-9:checked~.gallery-wrapper .main-image-box #main3-9 {
    display: block;
}

#c1-9:checked+label .color-circle {
    border: 3px solid black;
}

#c2-9:checked+label .color-circle {
    border: 3px solid black;
}

#tab1-9:checked~#content1-9,
#tab2-9:checked~#content2-9,
#tab3-9:checked~#content3-9 {
    display: block;
}




#img1-10:checked~.gallery-wrapper .main-image-box #main1-10 {
    display: block;
}

#img2-10:checked~.gallery-wrapper .main-image-box #main2-10 {
    display: block;
}

#img3-10:checked~.gallery-wrapper .main-image-box #main3-10 {
    display: block;
}

#img4-10:checked~.gallery-wrapper .main-image-box #main4-10 {
    display: block;
}

#img5-10:checked~.gallery-wrapper .main-image-box #main5-10 {
    display: block;
}

#c1-10:checked+label .color-circle,
#c2-10:checked+label .color-circle {
    border: 3px solid black;
}

#tab1-10:checked~#content1-10,
#tab2-10:checked~#content2-10,
#tab3-10:checked~#content3-10 {
    display: block;
}


/* SECTION 11 */
#img1-11:checked~.gallery-wrapper .main-image-box #main1-11 {
    display: block;
}

#img2-11:checked~.gallery-wrapper .main-image-box #main2-11 {
    display: block;
}

#img3-11:checked~.gallery-wrapper .main-image-box #main3-11 {
    display: block;
}

#img4-11:checked~.gallery-wrapper .main-image-box #main4-11 {
    display: block;
}

#c1-11:checked+label .color-circle,
#c2-11:checked+label .color-circle {
    border: 3px solid black;
}

#tab1-11:checked~#content1-11,
#tab2-11:checked~#content2-11,
#tab3-11:checked~#content3-11 {
    display: block;
}


/* SECTION 12 */
#img1-12:checked~.gallery-wrapper .main-image-box #main1-12 {
    display: block;
}

#img2-12:checked~.gallery-wrapper .main-image-box #main2-12 {
    display: block;
}

#img3-12:checked~.gallery-wrapper .main-image-box #main3-12 {
    display: block;
}

#c1-12:checked+label .color-circle,
#c2-12:checked+label .color-circle {
    border: 3px solid black;
}

#tab1-12:checked~#content1-12,
#tab2-12:checked~#content2-12,
#tab3-12:checked~#content3-12 {
    display: block;
}


/* SECTION 13 */
#img1-13:checked~.gallery-wrapper .main-image-box #main1-13 {
    display: block;
}

#img2-13:checked~.gallery-wrapper .main-image-box #main2-13 {
    display: block;
}

#img3-13:checked~.gallery-wrapper .main-image-box #main3-13 {
    display: block;
}

#img4-13:checked~.gallery-wrapper .main-image-box #main4-13 {
    display: block;
}

#img5-13:checked~.gallery-wrapper .main-image-box #main5-13 {
    display: block;
}

#c1-13:checked+label .color-circle,
#c2-13:checked+label .color-circle {
    border: 3px solid black;
}

#tab1-13:checked~#content1-13,
#tab2-13:checked~#content2-13,
#tab3-13:checked~#content3-13 {
    display: block;
}


/* SECTION 14 */
#img1-14:checked~.gallery-wrapper .main-image-box #main1-14 {
    display: block;
}

#img2-14:checked~.gallery-wrapper .main-image-box #main2-14 {
    display: block;
}

#c1-14:checked+label .color-circle,
#c2-14:checked+label .color-circle {
    border: 3px solid black;
}

#tab1-14:checked~#content1-14,
#tab2-14:checked~#content2-14,
#tab3-14:checked~#content3-14 {
    display: block;
}


/* SECTION 15 */
#img1-15:checked~.gallery-wrapper .main-image-box #main1-15 {
    display: block;
}

#img2-15:checked~.gallery-wrapper .main-image-box #main2-15 {
    display: block;
}

#img3-15:checked~.gallery-wrapper .main-image-box #main3-15 {
    display: block;
}

#c1-15:checked+label .color-circle,
#c2-15:checked+label .color-circle {
    border: 3px solid black;
}

#tab1-15:checked~#content1-15,
#tab2-15:checked~#content2-15,
#tab3-15:checked~#content3-15 {
    display: block;
}


.img-col-6 {
    height: 400px;
    border-radius: 10px;
}

#c1-16:checked+label .color-circle,
#c2-16:checked+label .color-circle {
    border: 3px solid black;
}

#tab1-16:checked~#content1-16,
#tab2-16:checked~#content2-16,
#tab3-16:checked~#content3-16 {
    display: block;
}



#c1-17:checked + label .color-circle,
#c2-17:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-17:checked ~ #content1-17,
#tab2-17:checked ~ #content2-17,
#tab3-17:checked ~ #content3-17 {
    display: block;
}



#c1-18:checked + label .color-circle,
#c2-18:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-18:checked ~ #content1-18,
#tab2-18:checked ~ #content2-18,
#tab3-18:checked ~ #content3-18 {
    display: block;
}




#c1-19:checked + label .color-circle,
#c2-19:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-19:checked ~ #content1-19,
#tab2-19:checked ~ #content2-19,
#tab3-19:checked ~ #content3-19 {
    display: block;
}




#c1-20:checked + label .color-circle,
#c2-20:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-20:checked ~ #content1-20,
#tab2-20:checked ~ #content2-20,
#tab3-20:checked ~ #content3-20 {
    display: block;
}




#c1-21:checked + label .color-circle,
#c2-21:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-21:checked ~ #content1-21,
#tab2-21:checked ~ #content2-21,
#tab3-21:checked ~ #content3-21 {
    display: block;
}




#c1-22:checked + label .color-circle,
#c2-22:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-22:checked ~ #content1-22,
#tab2-22:checked ~ #content2-22,
#tab3-22:checked ~ #content3-22 {
    display: block;
}




#c1-23:checked + label .color-circle,
#c2-23:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-23:checked ~ #content1-23,
#tab2-23:checked ~ #content2-23,
#tab3-23:checked ~ #content3-23 {
    display: block;
}




#c1-24:checked + label .color-circle,
#c2-24:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-24:checked ~ #content1-24,
#tab2-24:checked ~ #content2-24,
#tab3-24:checked ~ #content3-24 {
    display: block;
}




#c1-25:checked + label .color-circle,
#c2-25:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-25:checked ~ #content1-25,
#tab2-25:checked ~ #content2-25,
#tab3-25:checked ~ #content3-25 {
    display: block;
}




#c1-26:checked + label .color-circle,
#c2-26:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-26:checked ~ #content1-26,
#tab2-26:checked ~ #content2-26,
#tab3-26:checked ~ #content3-26 {
    display: block;
}

/* SECTION 27 */
#img1-27:checked~.gallery-wrapper .main-image-box #main1-27 {
    display: block;
}

#img2-27:checked~.gallery-wrapper .main-image-box #main2-27 {
    display: block;
}

#c1-27:checked + label .color-circle,
#c2-27:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-27:checked ~ #content1-27,
#tab2-27:checked ~ #content2-27,
#tab3-27:checked ~ #content3-27 {
    display: block;
}

/* SECTION 28 */
#c1-28:checked + label .color-circle,
#c2-28:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-28:checked ~ #content1-28,
#tab2-28:checked ~ #content2-28,
#tab3-28:checked ~ #content3-28 {
    display: block;
}

/* SECTION 29 */
#c1-29:checked + label .color-circle,
#c2-29:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-29:checked ~ #content1-29,
#tab2-29:checked ~ #content2-29,
#tab3-29:checked ~ #content3-29 {
    display: block;
}

/* SECTION 30 */
#c1-30:checked + label .color-circle,
#c2-30:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-30:checked ~ #content1-30,
#tab2-30:checked ~ #content2-30,
#tab3-30:checked ~ #content3-30 {
    display: block;
}

/* SECTION 31 */
#c1-31:checked + label .color-circle,
#c2-31:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-31:checked ~ #content1-31,
#tab2-31:checked ~ #content2-31,
#tab3-31:checked ~ #content3-31 {
    display: block;
}

/* SECTION 32 */
#c1-32:checked + label .color-circle,
#c2-32:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-32:checked ~ #content1-32,
#tab2-32:checked ~ #content2-32,
#tab3-32:checked ~ #content3-32 {
    display: block;
}

/* SECTION 33 */
#c1-33:checked + label .color-circle,
#c2-33:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-33:checked ~ #content1-33,
#tab2-33:checked ~ #content2-33,
#tab3-33:checked ~ #content3-33 {
    display: block;
}

/* SECTION 34 */
#c1-34:checked + label .color-circle,
#c2-34:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-34:checked ~ #content1-34,
#tab2-34:checked ~ #content2-34,
#tab3-34:checked ~ #content3-34 {
    display: block;
}

/* SECTION 35 */
#c1-35:checked + label .color-circle,
#c2-35:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-35:checked ~ #content1-35,
#tab2-35:checked ~ #content2-35,
#tab3-35:checked ~ #content3-35 {
    display: block;
}

/* SECTION 36 */
#c1-36:checked + label .color-circle,
#c2-36:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-36:checked ~ #content1-36,
#tab2-36:checked ~ #content2-36,
#tab3-36:checked ~ #content3-36 {
    display: block;
}

/* SECTION 37 */
#c1-37:checked + label .color-circle,
#c2-37:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-37:checked ~ #content1-37,
#tab2-37:checked ~ #content2-37,
#tab3-37:checked ~ #content3-37 {
    display: block;
}

/* SECTION 38 */
#c1-38:checked + label .color-circle,
#c2-38:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-38:checked ~ #content1-38,
#tab2-38:checked ~ #content2-38,
#tab3-38:checked ~ #content3-38 {
    display: block;
}

/* SECTION 39 */
#c1-39:checked + label .color-circle,
#c2-39:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-39:checked ~ #content1-39,
#tab2-39:checked ~ #content2-39,
#tab3-39:checked ~ #content3-39 {
    display: block;
}

/* SECTION 40 */
#c1-40:checked + label .color-circle,
#c2-40:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-40:checked ~ #content1-40,
#tab2-40:checked ~ #content2-40,
#tab3-40:checked ~ #content3-40 {
    display: block;
}

/* SECTION 41 */
#c1-41:checked + label .color-circle,
#c2-41:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-41:checked ~ #content1-41,
#tab2-41:checked ~ #content2-41,
#tab3-41:checked ~ #content3-41 {
    display: block;
}

/* SECTION 42 */
#c1-42:checked + label .color-circle,
#c2-42:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-42:checked ~ #content1-42,
#tab2-42:checked ~ #content2-42,
#tab3-42:checked ~ #content3-42 {
    display: block;
}

/* SECTION 43 */
#c1-43:checked + label .color-circle,
#c2-43:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-43:checked ~ #content1-43,
#tab2-43:checked ~ #content2-43,
#tab3-43:checked ~ #content3-43 {
    display: block;
}

/* SECTION 44 */
#c1-44:checked + label .color-circle,
#c2-44:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-44:checked ~ #content1-44,
#tab2-44:checked ~ #content2-44,
#tab3-44:checked ~ #content3-44 {
    display: block;
}

/* SECTION 45 */
#c1-45:checked + label .color-circle,
#c2-45:checked + label .color-circle {
    border: 3px solid black;
}

#tab1-45:checked ~ #content1-45,
#tab2-45:checked ~ #content2-45,
#tab3-45:checked ~ #content3-45 {
    display: block;
}
