@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.carousel-item {
    height: 400px;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
}

.head-right-container {
    font-size: 25px;
    text-align: center;
    color: #5b422e;
}

.img-top-right {
    height: 150px;
    border-style: solid;
    border-radius: 10px;
    border-color: #5b422e;
    margin: 27px;
}

.img-name-top-right {
    font-size: 22px;
    text-align: center;
}

.gallery {
    font-size: 30px;
}

.img-slide {
    border-style: solid;
    border-radius: 15px;
    border-width: 0px;
    
}

.carousal-item img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-style: solid;
    border-radius: 15px;
}

.bg-bottom-home-container {
    background-color: #5b422b;
    background-size: cover;
    color: white;
}

.bottom-link {
    color: #f9f2cb;
    margin: 15px;
}

.bottom-head {
    font-size: 20px;
    color: #f9f2cb;
}

.head-top-section2 {
    color: #5b422e;
    text-align: center;
}

.img-polo {
    height: 180px;
    width: 150px;
    border-style: solid;
    border-radius: 10px;
    border-width: 0px;
}

.polo-images-alignment {
    margin: 100px;
    border-style: solid;
    border-color: #5b422e;
    border-width: 1px;
    border-radius: 10px;
}

.img-category {
    margin-left: 110px;
}

.shirt-names {
    font-size: 20px;
}

.copyright-sentence {
    color: #000000;
    font-size: 20px;
    margin: 5px
}

.copyright-bar {
    background-color: #f9f2cb;
    background-size: cover;
    text-align: center;
}

.navbar-text {
    color: red;
}

.navbar-img {
    height: 100px;
}

.nav-color {
    background-color: #f9f2cb;
    background-size: cover;
}

.nav-options {
    color: #5b422e;
    font-size: 20px;
}
